.modal{
    min-width: 300px;
    max-width: 340px;
    height: 400px;
    border-radius: 30px;
    background-color: white;

}
.close{
    padding: 1rem;
    cursor: pointer;
    width: fit-content;
}